!!!
%html
  %head
    %title<
      3D editor
    %link(rel="stylesheet" href="css/editor3d.css")
    %script(src="js/jquery-1.10.2.min.js")
    %script(src="js/slide3d.js")
    %script(src="js/editor3d.js")
  %body
    %canvas